<div class="header_pc_nth_1">
  <div class="container">
    <ul class="list_menu_header_1">
      <li class="item_menu_header_1">
        <%= image_tag 'top/img_history_on_top.png', class: 'img_18' %>
        <%= link_to t('top.history'), '#', class: 'link_to_1' %>
      </li>
      <li class="item_menu_header_1">
        <%= image_tag 'top/wish_list_top.png', class: 'img_16' %>
        <%= link_to t('top.wish_list'), '#', class: 'link_to_1' %>
      </li>
      <li class="item_menu_header_1">
        <div class="menu_language">
          <%= link_to t('top.language'), '#', class: 'link_to_1 link_have_dropdown_sm'%>
        </div>
      </li>
      <div class="bx_contain_lang">
        <li class="item_menu_header_1 has_flag">
          <%= link_to locale:'vi' do%>
            <%= image_tag 'vn.jpg', class: locale == :vi ? 'img_24x18 has_border' : 'img_24x18' %>
          <% end %>
        </li>
        <li class="item_menu_header_1 has_flag">
          <%= link_to locale:'en' do%>
            <%= image_tag 'usa.jpg', class: locale == :en ? 'img_24x18 has_border' : 'img_24x18' %>
          <% end %>
        </li>
      </div>
      <li class="item_menu_header_1 has_br">
        <%= image_tag 'top/img_acc_on_header.png', class: 'img_18' %>
        <%= link_to t('top.account'), '#', class: 'link_to_1' %>
      </li>
      <li class="item_menu_header_1">
        <%= image_tag 'top/question.png', class: 'img_18' %>
        <%= link_to t('top.help'), '#', class: 'link_to_1' %>
      </li>
    </ul>
  </div>
</div>
