<div class="header_pc_top_page">
  <%= render 'layouts/shared/top/header/header_nth_1' %>
  <%= render 'layouts/shared/top/header/header_nth_2', custome: '' %>
  <%= render 'layouts/shared/top/header/header_nth_3' %>
</div>
<%= render 'layouts/shared/top/header/menu_vertical' %>
<%= render 'layouts/shared/top/header/header_nth_2', custome: 'custom' %>
