<!DOCTYPE html>
<html>
  <head>
    <title>ProjectCoTrangDiemV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- <meta http-equiv="refresh" content="8; url=http://192.168.0.121:3000" /> -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app"> 
      <%= render 'layouts/shared/top/header/header' %>
      <%= yield %>
    </div>
  </body>
</html>
